<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" *ngFor="let data of cardData">
    <div class="brand-card" >
      <div class="project-card-cover">
        <img class="project-card-cover-img" [src]="data?.links?.mission_patch_small">
        <p class="fontClass">
          {{data.mission_name}} # {{data.flight_number}}
        </p>
        <p class="fontClass">
          <span>Mission Ids:</span>{{data.mission_id}}
        </p>
        <p class="fontClass">
          <span>Launch Year:</span> {{data.launch_year}}
        </p>
        <p class="fontClass">
          <span>Successful Launch:</span>{{data.launch_success}}
        </p>
        <p class="fontClass">
          <span>Successful Landing:</span>{{data.launch_success}}
        </p>
      </div>
    </div>
  </div>
</div>
